<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.c4q.capstone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/community_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/community_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/ActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.PaymentActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".CreateAccountActivity"
            android:theme="@style/ActionBar" />
        <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:theme="@style/SplashTheme" /> -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyCRm-51nGIAxV3q2fz5IuX20bWariS45FM " />

        <activity
            android:name=".favorites.PreferenceActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".menuCategories.AboutVillageActivity"
            android:label="@string/title_activity_about_village"
            android:theme="@style/ActionBar"/>
    </application>

</manifest>